# EditorConfig is awesome: http://EditorConfig.org

# top-most EditorConfig file
root = true

# matches every file -- set some defaults then override
# per-filetype
[*]
charset = utf-8
# Unix-style newlines with a newline ending every file
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

# 2 spaces to indent!
indent_style = space
indent_size = 2


# Matches multiple files with brace expansion notation
# Set default charset
# [*.{js,py}]
# charset = utf-8

# 4 space indentation
[*.py]
indent_style = space
indent_size = 4

# Markdown
# trailing whitespace is meaningful here (two spaces = hard line break)
[*.md]
indent_style = tab
trim_trailing_whitespace = false

# Go is gofmt's business, and gofmt uses tabs. Without this the [*] default
# above tells editorconfig-vim to set expandtab, so vim-go and gofmt spend
# the rest of the session undoing each other.
[*.go]
indent_style = tab
indent_size = 4

[*.{yml,yaml}]
# YAML forbids tabs outright
indent_style = space
indent_size = 2

[{Makefile,**.mk}]
# Use tabs for indentation (Makefiles require tabs)
indent_style = tab
