# [user] stuff is in ~/.gitconfig.local
# and not checked into config to allow for
# work vs. personal git configs
# at the very least it should include
# [user]
#   name = Jim Ray
#   email = jimray@example.com
[include]
  path = ~/.gitconfig.local

[push]
	default = simple
[fetch]
	prune = true
[core]
	excludesfile = ~/.gitignore
	editor = /usr/bin/vim

[alias]
	a = add

  # add all tracked files
  au = add -u

  # add all tracked files AND commit
  aux = !git add -u && git commit

  # create a new branch and check it out
	b = checkout -b

  c = commit
	d = diff
  g = grep
	o = checkout
	s = status

  #blame without whitespace
  blame = blame -w -M -C

  #more good aliases here!
  #https://gist.github.com/jhermsmeier/ae195a83b4c3d212c770
